@using WebApplicationMVC.Views.Helpers
@using WebApplicationMVC.Models
@using SmartHome
@model DeviceDataView

<article>
    <div class="col-xs-6 col-sm-push-3 devicePadding deviceBorder row">
        @if (Model.DeviceActive != null)
        {
            using (Html.BeginForm("ActiveDevice", "Main"))
            {
                IDevicable device = Model.DeviceActive;


                <span id="nameDevice" class="col-xs-11  text-center  devicePadding deviceName">@device.Name</span>
                @Html.ActionLinkImage(Url.Content("~/Content/button-trash.png"), "./DeleteDevice", "btn-md", "btn-danger imageButtonIcon", "Удалить устройство")
                string title = device.Name + " выкл.";
                if (device.State == true)
                {
                    title = device.Name + " вкл.";
                }
                <img class="col-xs-6 devicePadding imageIconDevice" src="@Url.Content(Model.LinkIconDevice(device))" title="@title" />

                <div id="NavigationDevice">
                    @{

                        title = "Включить устройство";
                        string cssClass = "btn-danger imageButtonIcon";
                        string cssClassImageButton = "btn-success imageButtonIcon";
                        string cssClassTextBox = "col-xs-1 input-md devicePadding";
                        string cssSizeButton = "btn-md";
                        if (device.State == true)
                        {
                            title = "Выключить устройство";
                            cssClass = cssClassImageButton;
                        }
                    }
                    @Html.ActionLinkImage(Url.Content("~/Content/button-OnOff.png"), "./OnOffDevice", cssSizeButton, cssClass, title)

                    @if (Model.Message != null)
                    {
                        <span class="text-error">@Model.Message</span>
                    }
                    else
                    {
                        <br />
                    }
                    <br />
                    @{

                        if (device is IVolumenable)
                        {
                            @Html.TextBox("TextBoxVolume", ((IVolumenable)device).Volume, new { id = "TextBoxVolume", title = "Установить громкость", @class = cssClassTextBox, type = "number" });
                            @Html.ActionLinkImage(Url.Content("~/Content/button-volumeDown.png"), "./Volume/Down", cssSizeButton, cssClassImageButton, "Уменьшить громкость");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-volumeUp.png"), "./Volume/Up", cssSizeButton, cssClassImageButton, "Увеличить громкость");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-volumeMute.png"), "./Volume/Mute", cssSizeButton, cssClassImageButton, "Отключить звук");
                            <br />

                        }

                        if (device is ISwitchable)
                        {
                            string titleTextBox = "Установить канал";
                            string titlePrev = "Предыдущий канал";
                            string titleNext = "Следующий канал";
                            @Html.TextBox("TextBoxSwitch", ((ISwitchable)device).Current, new { id = "TextBoxSwich", title = titleTextBox, @class = cssClassTextBox, type = "number" });

                            if (device is IVolumenable && device is ISwitchable && device is IBassable)
                            {
                                titleTextBox = "Установить трек";
                                titlePrev = "Предыдущий трек";
                                titleNext = "Следующий трек";
                            }
                            @Html.ActionLinkImage(Url.Content("~/Content/button-previos.png"), "./Chanel/Previos", cssSizeButton, cssClassImageButton, titlePrev);
                            @Html.ActionLinkImage(Url.Content("~/Content/button-next.png"), "./Chanel/Next", cssSizeButton, cssClassImageButton, titleNext);
                            <br />
                        }

                        if (device is ITemperaturable)
                        {
                            @Html.TextBox("TextBoxTemp", ((ITemperaturable)device).Temperature, new { id = "TextBoxTemp", title = "Установить температуру", @class = cssClassTextBox, type = "number" });
                            @Html.ActionLinkImage(Url.Content("~/Content/button-down.png"), "./Temperature/Down", cssSizeButton, cssClassImageButton, "Уменьшить температуру");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-up.png"), "./Temperature/Up", cssSizeButton, cssClassImageButton, "Увеличить температуру");
                            <br />
                        }

                        if (device is IBassable)
                        {
                            @Html.TextBox("TextBoxBass", ((IBassable)device).BassLevel, new { id = "TextBoxBass", title = "Установить уровень бассов", @class = cssClassTextBox, type = "number" });
                            @Html.ActionLinkImage(Url.Content("~/Content/button-down.png"), "./Bass/Down", cssSizeButton, cssClassImageButton, "Уменьшить уровень бассов");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-up.png"), "./Bass/Up", cssSizeButton, cssClassImageButton, "Увеличить уровень бассов");
                            <br />
                        }

                        if (device is ISpeedAirable)//набор кнопок для управления вентилятором
                        {
                            string cssClassImageButtonOff = "btn-danger imageButtonIcon";
                            string cssClassButtonLow = cssClassImageButton;
                            string cssClassButtonMedium = cssClassImageButton;
                            string cssClassButtonHight = cssClassImageButton;
                            if (((ISpeedAirable)device).LevelSpeed == Speed.Low)
                            {
                                cssClassButtonLow = cssClassImageButtonOff;
                            }
                            if (((ISpeedAirable)device).LevelSpeed == Speed.Medium)
                            {
                                cssClassButtonMedium = cssClassImageButtonOff;
                            }
                            if (((ISpeedAirable)device).LevelSpeed == Speed.Hight)
                            {
                                cssClassButtonHight = cssClassImageButtonOff;
                            }

                            @Html.ActionLinkImage(Url.Content("~/Content/button-low.png"), "./SpeedAir/Low", cssSizeButton, cssClassButtonLow, "Низкая интенсивность");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-medium.png"), "./SpeedAir/Medium", cssSizeButton, cssClassButtonMedium, "Средняя интенсивность");
                            @Html.ActionLinkImage(Url.Content("~/Content/button-hight.png"), "./SpeedAir/Hight", cssSizeButton, cssClassButtonHight, "Высокая интенсивность");
                            <br />
                        }
                    }

                </div>

                            }
                        }

    </div>
</article>
